.light {
  --primary-color: #9291b4;
  --primary-logo-bg-color: #646381;
  --primary-inverse-color: #353342;
  --primary-hover-color: #6F6E8F;
  --primary-light-color: #E5E5EB;

  --foreground-color: #fff;
  --foreground-border-color: #E5E5EB;

  --main-color: #F9F9F9;
  --text-color: #000;

  --input-bg-color: var(--foreground-color);
  --input-bg-secondary-color: #fafafa;
  --input-border-color: var(--foreground-border-color);

  --pagination-background: #fff;
  --pagination-border: #E5E5EB;
  --pagination-active: var(--primary-color);
  --pagination-color: #fff;

  --auth-background: var(--primary-light-color);

  --messages-background: var(--primary-light-color);
  --chat-background: #ededf3;

  --finished-goal-color: #eaffe5;

  --gray-color: #ccc;
}

.dark {
  --primary-color: #353342;
  --primary-logo-bg-color: #413e50;
  --primary-inverse-color: #8F8EA9;
  --primary-hover-color: #202028;
  --primary-light-color: #3f3d4d;

  --foreground-color: #24222A;
  --foreground-border-color: #151418;

  --main-color: #312E38;
  --text-color: #fff;

  --input-bg-color: var(--foreground-color);
  --input-bg-secondary-color: #211F26;
  --input-border-color: var(--foreground-border-color);

  --pagination-background: var(--primary-color);
  --pagination-border: #202028;
  --pagination-active: var(--primary-hover-color);
  --pagination-color: #fff;

  --auth-background: var(--primary-color);

  --messages-background: var(--primary-light-color);
  --chat-background: var(--primary-color);

  --finished-goal-color: #272f25;

  --gray-color: #ccc;
}

.light, .dark {
  --ck-color-base-background: var(--input-bg-color);
  --ck-color-base-border: var(--input-border-color);
  --ck-color-text: var(--text-color);

  --ck-color-toolbar-background: var(--input-bg-secondary-color);
  --ck-color-toolbar-border: var(--input-border-color);

  --ck-color-button-default-background: var(--input-bg-color);
  --ck-color-button-default-hover-background: var(--input-border-color);
  --ck-color-button-default-active-background: var(--input-bg-color);
  --ck-color-button-on-background: var(--input-bg-color);
  --ck-color-button-on-hover-background: var(--input-bg-color);
  --ck-color-button-action-hover-background: var(--input-bg-color);

  --ck-color-list-button-hover-background: var(--input-border-color);
  --ck-color-list-button-on-background: var(--primary-color);
  --ck-color-list-button-on-background-focus: var(--primary-hover-color);

  --ck-color-dropdown-panel-background: var(--input-bg-color);
}