<template>
  <div>
    <div class="mb-4 top-header">
      <h2>Цели всех участников проекта</h2>
      <b-form-input
        placeholder="Поиск..."
        class="top-header__search"
        @input="searchGoals"
        v-model="search"
      ></b-form-input>
    </div>
    <b-row>
      <b-col v-for="item in goals" :key="item.id" xl="4" lg="6" class="mb-4">
        <cg-card
          @click="openGoal(item.goal.id)"
          class="cursor-pointer"
          :img-src="item.goal.image"
          :finished="item.goal.isFinished"
        >
          <div class="cg-card__header">
            <h6 class="cg-card__heading">
              {{ item.goal.title }}
            </h6>
          </div>
          <div class="cg-card__additional">
            <span @click.stop="openUser(item.user.id)">
              {{ item.user.name }} {{ item.user.surname }}
              <i class="fas fa-user-circle" style="font-size: 9px"></i>
            </span>
            <time>
              {{ formatDate(item.goal.created_at) }}
              <i class="fas fa-calendar" style="font-size: 9px"></i>
            </time>
          </div>
        </cg-card>
      </b-col>
      <b-col cols="12" v-if="countGoals > limit">
        <b-pagination
          class="justify-content-center cg-pagination"
          v-model="currentPage"
          :total-rows="countGoals"
          :per-page="items.per_page"
          last-number
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import CgCard from "../components/Card";
import moment from "moment";
import { debounce } from "lodash";
import axios from "axios";

export default {
  name: "App",
  components: {
    CgCard,
  },
  data() {
    return {
      search: "",
      searchedGoals: null,
      limit: 12,
      currentPage: 1,
      savedPage: -1,
    };
  },
  watch: {
    currentPage: {
      handler(newPage) {
        this.changePage(newPage);
      },
    },
  },
  mounted() {
    this.loadGoals();
  },
  computed: mapState({
    items: (state) => state.allGoals,
    goals() {
      if (this.search.trim() === "") {
        this.searchedGoals = null;
        return this.items.data;
      } else if (this.searchedGoals !== null) return this.searchedGoals.data;
    },
    countGoals() {
      if (this.search.trim() === "") {
        return Number(this.items.last_page) * Number(this.items.per_page);
      } else if (this.searchedGoals !== null)
        return (
          Number(this.searchedGoals.last_page) *
          Number(this.searchedGoals.per_page)
        );
    },
    theme: (state) => state.theme,
  }),
  methods: {
    openGoal: function (id) {
      this.$router.push({ name: "ViewGoal", params: { id: id } });
    },
    formatDate: function (date) {
      return moment(date).format("DD.MM.YY HH:mm");
    },
    changePage: function (page) {
      this.currentPage = page;
      if (this.search.trim() !== "") {
        this.loadSearchedGoals();
      } else {
        this.loadGoals();
      }
    },
    searchGoals: debounce(function () {
      if (this.search.trim() !== "") {
        this.savedPage = this.currentPage;
        this.currentPage = 1;
        this.loadSearchedGoals();
      } else {
        this.currentPage = this.savedPage;
        this.savedPage = -1;
      }
    }, 500),
    loadGoals: function () {
      this.$startLoading();
      this.$store
        .dispatch("loadAllGoals", { limit: this.limit, page: this.currentPage })
        .finally(() => {
          this.$stopLoading();
        });
    },

    openUser(id) {
      this.$router.push({ name: "ProfileId", params: { id: id } });
    },
    loadSearchedGoals: function () {
      this.$startLoading();
      axios
        .post(`api/goals/search/${this.limit}?page=${this.currentPage}`, {
          title: this.search,
        })
        .then((response) => {
          this.searchedGoals = response.data;
        })
        .finally(() => {
          this.$stopLoading();
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}

.top-header {
  display: flex;
  justify-content: space-between;

  &__search {
    max-width: 300px;
  }
}
.cg-pagination::v-deep .page-item {
  &.active .page-link {
    background-color: var(--pagination-active);
    color: var(--pagination-color);
  }
  & .page-link {
    border-color: var(--pagination-border);
    background-color: var(--pagination-background);
    color: var(--primary-inverse-color);
  }
}
</style>
