<template>
  <div>
    <h1 class="mb-4">Создание цели</h1>
    <h4>Выбрать из готовых</h4>
    <b-form-select
      class="mb-3"
      :options="patterns"
      @input="doSelect"
    ></b-form-select>
    <ValidationObserver v-slot="{ invalid }">
      <b-form @submit.stop.prevent="createGoal">
        <h4>Формулировка</h4>
        <b-row class="mb-2">
          <b-col lg="6">
            <ValidationProvider
              rules="required|min:2|max:255"
              v-slot="{ valid, errors }"
            >
              <b-form-group label="Название цели">
                <b-form-input
                  :state="errors[0] ? false : valid ? true : null"
                  v-model="form.title"
                ></b-form-input>
                <b-form-invalid-feedback>
                  {{ errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider
              rules="required|min:2|max:255"
              v-slot="{ valid, errors }"
            >
              <b-form-group label="Критерий завершения">
                <b-form-input
                  :state="errors[0] ? false : valid ? true : null"
                  v-model="form.endCriterion"
                ></b-form-input>
                <b-form-invalid-feedback>
                  {{ errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </ValidationProvider>
          </b-col>
        </b-row>
        <h4>Подробное описание</h4>
        <b-row class="mb-4">
          <b-col cols="12">
            <ckeditor
              class="editor"
              :editor="editor"
              v-model="form.description"
            ></ckeditor>
          </b-col>
        </b-row>
        <b-row class="mb-4">
          <b-col lg="6" class="mb-2">
            <h4>Список задач</h4>
            <template v-for="(todo, index) in form.todo">
              <ValidationProvider
                rules="required"
                :key="index"
                v-slot="{ valid, errors }"
              >
                <b-form-group :label="`Задача #${index + 1}`">
                  <div class="d-flex">
                    <span class="todo-form">
                      <b-form-input
                        class="todo-input"
                        :state="errors[0] ? false : valid ? true : null"
                        v-model="todo.title"
                      ></b-form-input>
                      <b-form-invalid-feedback>
                        {{ errors[0] }}
                      </b-form-invalid-feedback>
                    </span>
                    <b-button
                      @click="deleteTodo(index)"
                      class="delete-button"
                      variant="danger"
                      v-if="form.todo.length > 1"
                      ><i class="fas fa-trash"></i
                    ></b-button>
                  </div>
                </b-form-group>
              </ValidationProvider>
            </template>
            <b-button variant="secondary" type="button" @click="addTodo"
              >Добавить задачу</b-button
            >
          </b-col>
          <b-col lg="6" class="mb-2">
            <h4>Конфиденциальность</h4>
            <b-row>
              <b-col cols="6">
                <b-form-group>
                  <template v-slot:label
                    >Цель приватная?
                    <i
                      id="hint-private"
                      style="font-size: 12px"
                      class="far fa-question-circle"
                    ></i>
                  </template>
                  <b-form-radio-group
                    id="radio-group-1"
                    v-model="form.isPrivate"
                    name="radio-private"
                  >
                    <b-form-radio :value="true">Да</b-form-radio>
                    <b-form-radio :value="false">Нет</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
              </b-col>
              <b-col cols="6" v-if="!form.isPrivate">
                <b-form-group>
                  <template v-slot:label
                    >Комментарии?
                    <i
                      id="hint-comment"
                      style="font-size: 12px"
                      class="far fa-question-circle"
                    ></i>
                  </template>
                  <b-form-radio-group
                    id="radio-group-2"
                    v-model="form.isCommentable"
                    name="radio-comments"
                  >
                    <b-form-radio :value="true">Да</b-form-radio>
                    <b-form-radio :value="false">Нет</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <h4>Изображение цели</h4>
        <b-row>
          <b-col clas="12">
            <b-form-file
              v-model="imageFile"
              accept="image/*"
              :state="Boolean(imageFile)"
              placeholder="Выберите файл или перетащите в это окно..."
              drop-placeholder="Перетащите файл сюда..."
              browse-text="Обзор"
            ></b-form-file>
          </b-col>
        </b-row>
        <b-button
          class="mt-5"
          type="submit"
          variant="primary"
          :disabled="invalid"
        >
          Создать
        </b-button>
      </b-form>
    </ValidationObserver>
    <b-tooltip target="hint-private" triggers="hover">
      Приватные цели никто не видят, кроме вас
    </b-tooltip>
    <b-tooltip target="hint-comment" triggers="hover">
      Смогут ли другие пользователи оставлять комментарии к вашей цели?
    </b-tooltip>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import Editor from "@ckeditor/ckeditor5-build-classic";
import axios from "axios";
import { mapState } from "vuex";
import patterns from "@/config/patterns";
export default {
  name: "CreateGoal",
  components: { ValidationObserver, ValidationProvider },
  data() {
    return {
      patterns: patterns,
      selectedGoal: null,
      imageFile: null,
      form: {
        title: null,
        endCriterion: null,
        description: "",
        todo: [{ title: "", checked: 0 }],
        isPrivate: false,
        isCommentable: true,
      },
      defaultForm: {
        title: null,
        endCriterion: null,
        description: "",
        todo: [{ title: "", checked: 0 }],
        isPrivate: false,
        isCommentable: true,
      },
      defaultTodo: { title: "", checked: 0 },
      editor: Editor,
    };
  },
  computed: mapState({
    theme: (state) => state.theme,
  }),
  methods: {
    createGoal: function () {
      this.$startLoading();
      const obj = JSON.parse(JSON.stringify(this.form));
      obj.todo = JSON.stringify(obj.todo);

      var formData = new FormData();
      if (this.imageFile) formData.append("image", this.imageFile);

      this.$fillFormData(formData, obj);

      axios
        .post("/api/goals/create", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          if (response.data && response.data.exception !== undefined) {
            this.$swal({
              title: "Ошибка",
              text: "Что-то пошло не так...",
              icon: "error",
            });
          } else {
            this.form = JSON.parse(JSON.stringify(this.defaultForm));
            this.$swal({
              title: "Успех",
              text: "Цель успешно создана",
              icon: "success",
            });
          }
        })
        .catch(() => {
          this.$swal({
            title: "Ошибка",
            text: "Что-то пошло не так...",
            icon: "error",
          });
        })
        .finally(() => {
          this.$stopLoading();
        });
    },
    addTodo: function () {
      const obj = JSON.parse(JSON.stringify(this.defaultTodo));
      this.form.todo.push(obj);
    },
    deleteTodo: function (index) {
      this.form.todo.splice(index, 1);
    },

    doSelect: function (goal) {
      this.form = goal;
    },
  },
};
</script>

<style lang="scss" scoped>
.editor::v-deep + .ck-editor .ck-editor__editable {
  min-height: 200px;
}

.todo-form {
  width: 100%;
}

.delete-button {
  margin-left: 10px;
  height: 40px;
}
</style>
