<template>
  <div v-if="item">
    <h1>Профиль</h1>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="avatar">
        <img
          :src="item.avatar"
        />
      </div>
      <h2 class="pt-2">
        <span>{{ item.name }} {{ item.surname }} {{ item.patro }}</span>
      </h2>
      <div class="d-flex justify-content-center">
        <b-button
         class="mr-3"
          @click="openEditModal('avatar')"
        >
          Изменить аватар
        </b-button>
        <b-button
          @click="openEditModal('background')"
        >
          Изменить фон
        </b-button>
      </div>
      <b-row class="user-info container-fluid d-flex justify-content-around">
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('name')"
        >
          <span> Имя: {{ item.name }} </span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('surname')"
        >
          <span>Фамилия: {{ item.surname }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('patro')"
        >
          <span>Отчество: {{ item.patro }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('email')"  
        >
          <span>Email: {{ item.email }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('country')"
        >
          <span>Страна: {{ item.country }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('town')"
        >
          <span>Город: {{ item.town }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('gender')"  
        >
          <span>Пол: {{ item.gender }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
        <b-col 
          xl="5" 
          class="d-flex justify-content-between"
          @click="openEditModal('birthday')"
        >
          <span>День рождения: {{ item.birthday }}</span>
          <span>
            <i class="fas fa-edit" />
          </span>
        </b-col>
      </b-row>
      <b-row class="d-flex container justify-content-center mt-3">
          <b-col>
            <div class="d-flex flex-column">
              <h3>Описание профиля</h3>
              <ckeditor
                class="editor"
                :editor="editor"
                v-model="item.description"
              ></ckeditor>
              <div class="d-flex justify-content-end mt-2">
                <b-button
                  v-if="item.description"
                  class="mr-2"
                  @click="item.description = ''"  
                >
                  Очистить
                </b-button>
                <b-button
                  v-if="item.description"
                  variant="success"
                  @click="editDescription"  
                >
                  Сохранить описание
                </b-button>
              </div>
            </div>
          </b-col>
        </b-row>
      <b-modal
        class="editModal"
        v-model="showEditModal"
        title="Хотите изменить информацию о себе?"
      >
        <div
          v-if="!['avatar', 'background'].includes(editField)"
          class="d-flex flex-column"
        >
          <span>Введите новое значение</span>
          <b-input v-model="editData" type="text" />
        </div>
        <div v-else>
          <div
            class="d-flex flex-column" 
            v-if="editField === 'avatar'
          ">
            <span>Выберите новый аватар</span>
            <b-form-file
              v-model="avatarFile"
              accept="image/*"
              :state="Boolean(avatarFile)"
              placeholder="Выберите файл или перетащите в это окно..."
              drop-placeholder="Перетащите файл сюда..."
              browse-text="Обзор"
            ></b-form-file>
          </div>
          <div
            v-else
            class="d-flex flex-column" 
          >
            <span>Выберите новый фон</span>
            <b-form-file
              v-model="backgroundFile"
              accept="image/*"
              :state="Boolean(backgroundFile)"
              placeholder="Выберите файл или перетащите в это окно..."
              drop-placeholder="Перетащите файл сюда..."
              browse-text="Обзор"
            ></b-form-file>
          </div>
        </div>
        <template #modal-footer>
          <div class="d-flex flex-end">
            <b-button
              size="md"
              class="float-right"
              @click="showEditModal = false"
            >
              Отмена
            </b-button>
            <b-button 
              v-if="!['avatar', 'background'].includes(editField)"
              class="float-right" 
              variant="success" 
              size="md" 
              @click="edit"
            >
              Сохранить
            </b-button>
            <b-button 
              v-else
              class="float-right" 
              variant="success" 
              size="md" 
              @click="editImage()"
            >
              Сохранить
            </b-button>
          </div>
        </template>
      </b-modal>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Editor from "@ckeditor/ckeditor5-build-classic";

export default {
  name: "EditProfile",
  data() {
    return {
      editField: "",
      editData: null,
      showEditModal: false,
      editor: Editor,
      avatarFile: null,
      backgroundFile: null
    };
  },
  mounted() {
    if (this.item === null) {
      this.$startLoading();
      this.$store.dispatch("profileItem").finally(() => {
        this.$stopLoading();
      });
    }
  },
  computed: mapState({
    item: (state) => state.profileItem,
  }),
  methods: {
    openEditModal(name) {
      this.editField = name;
      this.editData = this.item[name];
      this.showEditModal = true;
    },
    edit() {
      this.$startLoading();
      let obj = {};
      obj[this.editField] = this.editData;
      this.item[this.editField] = this.editData;
      this.$store.dispatch("editProfileItem", obj).then(() => {
        this.$swal({
          icon: "success",
          title: "Успешно",
          text: "Изменения сохранены",
        })
      }).then(() => {
        this.$stopLoading();
      });
      this.showEditModal = false;
    },
    editDescription() {
      this.$startLoading();
      let obj = {};
      obj['description'] = this.item['description'];
      this.$store.dispatch("editProfileItem", obj).then(() => {
        this.$swal({
          icon: "success",
          title: "Успешно",
          text: "Изменения сохранены",
        })
      }).then(() => {
        this.$stopLoading();
      });
    },
    editImage() {
      this.$startLoading();
      var formData = new FormData();
      if (this.avatarFile) {
        formData.append("avatar", this.avatarFile);
      } else if(this.backgroundFile) {
        formData.append("background", this.backgroundFile);
      }
      this.$store.dispatch("editProfileItem", formData).then(() => {
        this.$swal({
          icon: "success",
          title: "Успешно",
          text: "Изменения сохранены",
        })
        this.$store.dispatch("profileItem")
      }).then(() => {
        this.$stopLoading();
      });
      this.showEditModal = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar {
  border-radius: 10%;
  border: 5px solid black;
  margin-top: 10vh;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-top: 5vh;
  }
}

.avatar img {
  width: 200px;
}

.user-info {
  margin-top: 25px;
  div {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 15px;
    border: 5px solid black;
    margin: 10px 5px;
    border-radius: 10px;
    @media (max-width: 768px) {
      border: 3px solid black;
      height: 50px;
    }
  }
}

span {
  font-size: 25px;
  font-weight: bold;
  padding: 0 3px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.user-info {
  div {
    cursor: pointer;
  }
}

.modal {
  button {
    background: black;
    color: white;
    margin: 5px 0 5px 10px;
  }
  span {
    font-size: 16px;
    padding: 10px 0;
  }
}

.editor::v-deep + .ck-editor .ck-editor__editable {
  min-height: 125px;
}
</style>
