<template>
  <div>
    <h2 class="mb-4">Избранные цели</h2>
    <b-row>
      <b-col v-for="item in items" :key="item.id" xl="4" lg="6" class="mb-4">
        <cg-card
          @click="openGoal(item.id)"
          class="cursor-pointer"
          :img-src="item.goal.image"
        >
          <div class="cg-card__header">
            <h6 class="cg-card__heading">
              {{ item.goal.title }}
            </h6>
          </div>
          <div class="cg-card__additional">
            <span>
              {{ item.user.name }} {{ item.user.surname }}
              <i class="fas fa-user-circle" style="font-size: 9px"></i>
            </span>
            <time>
              {{ formatDate(item.goal.created_at) }}
              <i class="fas fa-calendar" style="font-size: 9px"></i>
            </time>
          </div>
        </cg-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import moment from "moment";
import CgCard from "./../components/Card";

export default {
  name: "MyGoals",
  components: {
    CgCard,
  },
  mounted() {
    if (this.items.length === 0) this.$store.dispatch("loadFavouritesGoals");
  },
  computed: mapState({
    items: (state) => state.favouritesGoals,
  }),
  methods: {
    openGoal: function (id) {
      this.$router.push({ name: "ViewGoal", params: { id: id } });
    },
    formatDate: function (date) {
      return moment(date).format("DD.MM.YY HH:mm");
    },
  },
};
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
.cg-pagination::v-deep .page-item {
  &.active .page-link {
    background-color: var(--pagination-active);
    color: var(--pagination-color);
  }
  & .page-link {
    border-color: var(--pagination-border);
    background-color: var(--pagination-background);
    color: var(--primary-inverse-color);
  }
}
</style>
