<template>
  <div v-if="item" class="goal">
    <div
      class="mb-4 d-flex justify-content-between align-items-center goal__hr"
    >
      <h2 class="goal__heading">{{ item.title }}</h2>
      <b-button v-if="canAddFavourite" variant="primary" @click="addFavourite">
        Подписаться
      </b-button>
      <b-button v-else-if="!canEdit" variant="danger" @click="deleteFavourite">
        Отписаться
      </b-button>
    </div>
    <h4>Критерий завершения</h4>
    <p class="mb-4">{{ item.endCriterion }}</p>
    <h4>Описание</h4>
    <div v-html="item.description" class="mb-4 goal__description"></div>
    <h4>Список задач</h4>
    <ul class="todo-list">
      <li
        class="todo-item"
        :class="{ 'todo-item-checked': todo.checked }"
        :key="todo.title"
        v-for="todo in item.todo"
      >
        <span
          :style="{ cursor: canEdit ? 'pointer' : 'default' }"
          @click="toggleCheck(todo)"
        >
          <i v-if="!todo.checked" class="far fa-square"></i>
          <i v-else class="far fa-check-square"></i>
          {{ todo.title }}
        </span>
      </li>
    </ul>
    <b-button
      v-if="canEdit"
      class="mt-5 mr-2"
      @click="
        $router.push({ name: 'EditGoal', params: { id: id, item: item } })
      "
      variant="primary"
      >Редактировать</b-button
    >
    <b-button v-if="canEdit" class="mt-5" @click="deleteGoal" variant="danger"
      >Удалить</b-button
    >

    <div class="goal__hr">
      <h2 class="goal__heading mt-5">Дневник цели</h2>
    </div>

    <div class="post-input mt-4" v-if="canEdit">
      <h4>Новая запись</h4>
      <ckeditor
        class="post-input__editor editor"
        :editor="editor"
        v-model="postMessage"
      ></ckeditor>
      <b-button class="mt-2" variant="primary" @click="addPost">
        Опубликовать
      </b-button>
    </div>

    <div class="posts">
      <div v-for="post in posts" :key="post.id">
        <post
          class="mt-5 mb-3"
          :post="post"
          :goal-created-date="item.created_at"
          :can-edit="canEdit"
          @delete="deletePost(post)"
          @like="likePost(post)"
          @dislike="unlikePost(post)"
        />
        <div class="ml-3 ml-sm-5">
          <comment
            v-for="comment in post.commentaries"
            :key="comment.id"
            :comment="comment.comment"
            :user="comment.user"
            class="mt-3"
            @like="likeComment(comment.comment, post)"
            @dislike="unlikeComment(comment.comment, post)"
            @delete="deleteComment(comment.comment, post)"
          />
          <div
            class="goal__comment-input mt-4"
            v-if="canEdit || !!item.isCommentable"
          >
            <b-input
              placeholder="Напишите комментарий..."
              type="text"
              v-model="post.comment"
            ></b-input>
            <b-button class="mt-2" variant="primary" @click="addComment(post)">
              Отправить
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { debounce } from "lodash";
import { mapState } from "vuex";
import Editor from "@ckeditor/ckeditor5-build-classic";
import Post from "@/components/Post";
import Comment from "@/components/Comment";

export default {
  name: "Goal",
  props: ["id"],
  components: { Post, Comment },
  data() {
    return {
      item: null,
      editor: Editor,
      postMessage: null,
      posts: [],
    };
  },
  mounted() {
    this.loadItem();
    this.loadPosts();
  },
  computed: mapState({
    theme: (state) => state.theme,
    favouritesGoals: (state) => state.favouritesGoals,
    canEdit() {
      return (
        this.item.user_id === null ||
        this.item.user_id === this.$store.state.profileItem.id
      );
    },
    canAddFavourite() {
      return (
        this.favouritesGoals &&
        !this.favouritesGoals.find((object) => {
          return object.goal.id === this.id;
        }) &&
        !this.canEdit
      );
    },
  }),
  methods: {
    loadItem: function () {
      this.$startLoading();
      axios
        .get("/api/goals/item/" + this.id)
        .then((response) => {
          this.item = response.data[0];
          this.item.todo = JSON.parse(this.item.todo);
        })
        .finally(() => {
          this.$stopLoading();
        });
    },

    saveItem: debounce(function () {
      const obj = JSON.parse(JSON.stringify(this.item));
      obj.todo = JSON.stringify(obj.todo);
      obj.isPrivate = obj.isPrivate.toString();
      obj.isCommentable = obj.isCommentable.toString();
      axios.post("/api/goals/edit/" + this.id, obj);
    }, 1000),

    deleteGoal: function () {
      this.$swal({
        title: "Удаление цели",
        text: "Вы уверены, что хотите удалить цель?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        confirmButtonText: "Удалить",
        cancelButtonText: "Отмена",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete("/api/goals/delete/" + this.id).then(() => {
            this.$swal({
              title: "Успех",
              text: "Цель успешно удалена",
              icon: "success",
            }).then(() => {
              this.$router.push({ name: "MyGoals" });
            });
          });
        }
      });
    },

    toggleCheck: function (todo) {
      // Фича с ререндером компонента. Изменить key, через тик вернуть старое значение
      if (!this.canEdit) return;
      todo.checked = !todo.checked;
      todo.title = todo.title + "1";
      this.$nextTick(() => {
        todo.title = todo.title.slice(0, todo.title.length - 1);
        this.saveItem();
      });
    },

    addFavourite: function () {
      axios.post("api/goals/addtofav/" + this.id).then(() => {
        this.$store.dispatch("loadFavouritesGoals");
      });
    },

    deleteFavourite: function () {
      axios.post("api/goals/deletefromfav/" + this.id).then(() => {
        this.$store.dispatch("loadFavouritesGoals");
      });
    },

    addPost: function () {
      axios
        .post("api/posts/create/" + this.id, { text: this.postMessage })
        .finally(() => {
          this.loadPosts();
          this.postMessage = "";
        });
    },

    loadPosts: function () {
      axios.get("api/posts/allposts/" + this.id + "/99").then((response) => {
        this.posts = response.data.data;
        this.posts.forEach((post) => {
          post.comment = "";
          post.commentaries = [];
          axios
            .get("api/posts/allcomments/" + post.id + "/99")
            .then((response) => {
              post.commentaries = response.data.data;
              this.updatePost(post);
            });
        });
      });
    },

    addComment: function (comment) {
      axios
        .post("api/posts/comment/" + comment.id, { text: comment.comment })
        .then(() => {
          axios
            .get("api/posts/allcomments/" + comment.id + "/99")
            .then((response) => {
              comment.commentaries = response.data.data;
              comment.comment = "";
              this.updatePost(comment);
            });
        });
    },

    updatePost: function (post) {
      let temp = post.id;
      post.id = 666;
      this.$nextTick(() => {
        post.id = temp;
      });
    },

    likePost: function (post) {
      axios.post("api/posts/like/" + post.id).then((response) => {
        post.likes = response.data.likes;
        this.updatePost(post);
      });
    },

    unlikePost: function (post) {
      axios.post("api/posts/unlike/" + post.id).then(() => {
        post.likes = post.likes.filter((user) => {
          return user.id !== this.$store.state.profileItem.id;
        });
        this.updatePost(post);
      });
    },

    likeComment: function (comment, post) {
      axios.post("api/posts/comment/like/" + comment.id).then((response) => {
        comment.likes = response.data.likes;
        this.updatePost(post);
      });
    },

    unlikeComment: function (comment, post) {
      axios.post("api/posts/comment/unlike/" + comment.id).then(() => {
        comment.likes = comment.likes.filter((user) => {
          return user.id !== this.$store.state.profileItem.id;
        });
        this.updatePost(post);
      });
    },

    deletePost: function (post) {
      this.$swal({
        title: "Удаление поста",
        text: "Вы уверены, что хотите удалить пост?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        confirmButtonText: "Удалить",
        cancelButtonText: "Отмена",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete("api/posts/delete/" + post.id).then(() => {
            this.loadPosts();
          });
        }
      });
    },

    deleteComment: function (comment, post) {
      this.$swal({
        title: "Удаление комментария",
        text: "Вы уверены, что хотите удалить комментарий?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        confirmButtonText: "Удалить",
        cancelButtonText: "Отмена",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete("api/posts/comment/delete/" + comment.id).then(() => {
            axios
              .get("api/posts/allcomments/" + post.id + "/99")
              .then((response) => {
                post.commentaries = response.data.data;
                post.comment = "";
                this.updatePost(post);
              });
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.goal {
  &__heading {
    font-size: 40px;
    padding-bottom: 10px;
  }

  &__hr {
    border-bottom: 5px solid var(--primary-hover-color);
  }

  &__description {
    background-color: var(--primary-light-color);
    padding: 15px 25px;
    border-radius: 5px;
  }
}

.todo-list {
  list-style: none;
  margin-left: 25px;
  padding: 0;
}

.todo-item-checked {
  text-decoration: line-through;
}

.post-input {
  &::v-deep .ck-content {
    min-height: 200px;
  }
}
</style>
