<template>
  <div class="home"></div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
  mounted() {
    if (this.$store.state.isAuth) {
      this.$router.push({ name: "App" });
    }
  },
};
</script>
