<template>
  <div class="login">
    <ValidationObserver v-slot="{ invalid }">
      <b-form class="auth-form" @submit.prevent.stop="doLogin">
        <ValidationProvider
          name="Email"
          rules="required|email"
          v-slot="{ valid, errors }"
        >
          <h2 class="heading">Вход</h2>
          <b-form-group id="input-group-1" label="Email:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              :state="errors[0] ? false : valid ? true : null"
              placeholder="Введите email..."
              required
            ></b-form-input>
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          name="Password"
          rules="required"
          v-slot="{ valid, errors }"
        >
          <b-form-group id="input-group-3" label="Пароль:" label-for="input-3">
            <b-form-input
              id="input-3"
              v-model="form.password"
              type="password"
              :state="errors[0] ? false : valid ? true : null"
              placeholder="Введите пароль..."
              required
            ></b-form-input>
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <b-button
          class="auth-btn"
          type="submit"
          variant="primary"
          :disabled="invalid"
          >Войти</b-button
        >
        <b-form-text class="auth-no-account" id="no-account">
          Еще нет аккаунта?
          <router-link :to="{ name: 'Registration' }"
            >Зарегистрироваться</router-link
          >
        </b-form-text>
      </b-form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
  name: "Login",
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  mounted() {
    if (this.$store.state.isAuth) {
      this.$router.push({ name: "App" });
    }
  },
  methods: {
    doLogin: function () {
      this.$store
        .dispatch("authUser", this.form)
        .then(() => {
          this.$router.push({ name: "App" });
          this.$store.commit("setHideContent", true);
          this.$store.dispatch("loadFavouritesGoals");
          this.$store.dispatch("profileItem").finally(() => {
            this.$store.commit("setHideContent", false);
          });
        })
        .catch(() => {
          this.$swal({
            icon: "warning",
            title: "Что-то не так",
            text: "Произошла ошибка при авторизации. Возможно, вы еще не подтвердили почту",
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  padding: 0 15px;
}
.auth-form {
  max-width: 450px;
  padding: 25px;
  margin: 30px auto;
  background-color: var(--auth-background);
  font-family: "Roboto", sans-serif;
  border-radius: 0.25rem;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.auth-btn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
}

.auth-no-account {
  text-align: center;
  margin-top: 10px;
}
</style>
