<template>
  <div class="messages">
    <div class="messages__wrapper">
      <div class="messages__dialogs">
        <div
          class="messages__dialog dialog"
          :class="{ 'dialog--active': item.id === id }"
          v-for="item in dialoges"
          :key="'dialog' + item.id"
          @click="
            $router.push({ name: 'MessagesUser', params: { id: item.id } })
          "
        >
          <b-avatar class="dialog__img" :src="item.avatar" />
          <div class="dialog__info">
            <header class="dialog__header">
              <span class="dialog__name">{{ item.user_name }}</span>
              <span class="dialog__date">{{ getFullDate(item.time) }}</span>
            </header>
            <span class="dialog__message"
              ><b v-if="item.user_name !== item.sender_name">Вы:</b>
              {{ item.last_message }}</span
            >
          </div>
        </div>
      </div>
      <div class="messages__chat chat">
        <div class="chat__wrapper">
          <div
            class="chat__messages"
            id="scroll"
            :class="{ 'chat__messages--center': noDialogs }"
          >
            <span v-if="noDialogs || !user"> Еще нет сообщений </span>
            <template v-else>
              <div
                class="chat__message"
                :class="{
                  'chat__message--right': Number(item.sender_id) !== Number(id),
                }"
                v-for="item in messages"
                :key="item.id"
              >
                <b-avatar
                  v-if="Number(item.sender_id) === Number(id)"
                  :src="user.avatar"
                />
                <div class="chat__message-body">
                  <span>{{ item.message }}</span>
                  <time>{{ getDate(item.created_at) }}</time>
                </div>
              </div>
            </template>
          </div>
        </div>

        <div class="chat__input">
          <b-input @keyup="handleEnter" v-model="message" />
          <span class="chat__send" @click="sendMessage">
            <i class="fas fa-paper-plane"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  name: "Messages",
  props: ["id"],
  data() {
    return {
      message: "",
      noDialogs: true,
      dialoges: [],
      messages: [],
      user: null,
    };
  },
  mounted() {
    this.loadDialogs();
    if (this.id) {
      this.loadUser();
      this.loadDialog();
    }
  },
  watch: {
    id: function () {
      this.loadDialogs();
      if (this.id) {
        this.loadUser();
        this.loadDialog();
      }
    },
  },
  methods: {
    loadUser() {
      axios.get("api/profile/getuser/" + this.id).then((response) => {
        if (response.data) {
          this.user = response.data;
        }
      });
    },
    loadDialogs() {
      axios.get("api/messages/showdialogs").then((response) => {
        if (response.data) {
          const rawData = response.data;
          this.dialoges = [];
          for (let key of Object.keys(rawData)) {
            const obj = rawData[key];
            obj.id = key;
            this.dialoges.push(obj);
          }
        }
      });
    },
    loadDialog() {
      axios.get("api/messages/showmessages/" + this.id).then((response) => {
        this.noDialogs = !response.data;
        if (response.data) {
          let allMessages = [];
          response.data.sender.forEach((val) => allMessages.push(val));
          response.data.recipient.forEach((val) => allMessages.push(val));
          allMessages = allMessages.sort((a, b) => {
            const m1 = new Date(a.created_at);
            const m2 = new Date(b.created_at);
            return m1 - m2;
          });
          this.messages = allMessages;

          this.$nextTick(() => {
            const block = document.getElementById("scroll");
            block.scrollTop = block.scrollHeight;
            this.noDialogs = allMessages.length === 0;
          });
        }
      });
    },
    sendMessage() {
      if (this.message.trim() !== "") {
        this.$startLoading();
        axios
          .post("api/messages/create/" + this.id, { message: this.message })
          .then((response) => {
            if (response.data) {
              this.loadDialog();
              this.message = "";
            } else {
              this.$swal({
                icon: "warning",
                title: "Что-то не так",
                text: response.response.data.message,
              });
            }
          })
          .finally(() => {
            this.$stopLoading();
          });
      }
    },
    getDate(date) {
      return moment(date).format("HH:mm");
    },
    getFullDate(date) {
      return moment(date).format("HH:mm DD.MM.YY");
    },
    handleEnter(e) {
      if (e.keyCode === 13) {
        this.sendMessage();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.messages {
  &__wrapper {
    height: 100%;
    display: flex;

    @media (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__dialogs {
    width: 300px;
    height: calc(100vh - 30px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--messages-background);
    flex-shrink: 0;

    @media (max-width: 750px) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

.chat {
  background-color: var(--chat-background);
  border-left: 1px solid var(--input-border-color);
  height: calc(100vh - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 750px) {
    border: 1px solid var(--input-border-color);
  }

  &__send {
    cursor: pointer;
  }

  &__wrapper {
    overflow: auto;
    height: calc(100vh - 58px - 30px);
    margin: 0;
  }

  &__messages {
    height: 100%;
    border-bottom: 1px solid var(--input-border-color);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;

    &--center {
      justify-content: center;
      align-items: center;
    }

    &--right {
      margin-left: auto;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    column-gap: 6px;
  }

  &__message {
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;

    &:last-child {
      margin-bottom: 30px;
    }

    &:first-child {
      margin-top: 15px;
    }

    &--right {
      margin-left: auto;
      margin-right: 5px;
    }

    &--right .chat__message-body {
      margin-left: 0;
      margin-right: 15px;

      &::before {
        border-right: 5px solid transparent;
        border-left: 5px solid var(--primary-light-color);
        right: -9px;
        left: unset;
      }
    }
  }

  &__message-body {
    margin-left: 15px;
    padding: 5px;
    background-color: var(--primary-light-color);
    position: relative;
    display: flex;
    flex-direction: column;

    & time {
      font-size: 11px;
      align-self: flex-end;
      color: var(--gray-color);
    }

    &::before {
      content: "";
      position: absolute;
      left: -9px;
      bottom: 0;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom: 5px solid var(--primary-light-color);
      border-right: 5px solid var(--primary-light-color);
    }
  }
}

.dialog {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;

  &--active {
    cursor: default !important;
    background-color: var(--chat-background);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--chat-background);
  }

  &__img {
    width: 55px;
    height: 55px;
  }

  &__info {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__date {
    font-size: 13px;
  }

  &__message {
    font-size: 14px;
  }
}
</style>
