<template>
  <div>
    <h2 class="mb-4">Мои цели</h2>
    <b-row>
      <b-col v-for="item in goals" :key="item.id" xl="4" lg="6" class="mb-4">
        <cg-card
          @click="openGoal(item.id)"
          class="cursor-pointer"
          :img-src="item.image"
          :finished="item.isFinished"
        >
          <div class="cg-card__header">
            <h6 class="cg-card__heading">
              {{ item.title }}
            </h6>
          </div>
          <div class="cg-card__additional">
            <time>
              {{ formatDate(item.created_at) }}
              <i class="fas fa-calendar" style="font-size: 9px"></i>
            </time>
          </div>
        </cg-card>
      </b-col>
      <b-col cols="12" v-if="countGoals > limit">
        <b-pagination
          class="justify-content-center cg-pagination"
          v-model="currentPage"
          :total-rows="countGoals"
          :per-page="items.per_page"
          last-number
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import moment from "moment";
import CgCard from "./../components/Card";

export default {
  name: "MyGoals",
  components: {
    CgCard,
  },
  data() {
    return {
      currentPage: 1,
      limit: 12,
    };
  },
  watch: {
    currentPage: {
      handler() {
        this.loadMyGoals();
      },
    },
  },
  mounted() {
    this.loadMyGoals();
  },
  computed: mapState({
    items: (state) => state.goalsItems,
    goals() {
      return this.items.data;
    },
    countGoals() {
      return Number(this.items.last_page) * Number(this.items.per_page);
    },
    theme: (state) => state.theme,
  }),
  methods: {
    loadMyGoals: function () {
      this.$startLoading();
      this.$store
        .dispatch("goalsItems", { limit: this.limit, page: this.currentPage })
        .finally(() => {
          this.$stopLoading();
        });
    },
    openGoal: function (id) {
      this.$router.push({ name: "ViewGoal", params: { id: id } });
    },
    formatDate: function (date) {
      return moment(date).format("DD.MM.YY HH:mm");
    },
  },
};
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
.cg-pagination::v-deep .page-item {
  &.active .page-link {
    background-color: var(--pagination-active);
    color: var(--pagination-color);
  }
  & .page-link {
    border-color: var(--pagination-border);
    background-color: var(--pagination-background);
    color: var(--primary-inverse-color);
  }
}
</style>
