<template>
  <div v-if="item" class="profile">
    <div
      class="nav-background"
      :style="{ 'background-image': `url(${item.background})` }"
    >
      <b-avatar class="avatar" :src="item.avatar" />
    </div>
    <div
      class="content d-flex justify-content-center flex-column flex-fill pt-4"
    >
      <div class="title-info d-flex justify-content-between">
        <span> {{ item.email }} </span>
        <div class="d-flex">
          <span> {{ locationInfo }} </span>
        </div>
      </div>
      <div class="avatar-info d-flex justify-content-center">
        <div class="info-container">
          <span v-if="item.subscribers" class="block">
            {{ item.subscribers.length }} подписчиков
          </span>
          <span class="name">{{ item.name }}</span>
          <span class="block">{{ item.likes || 0 }} лайков</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <span
          class="description"
          v-if="description && description != ' '"
          v-html="description"
        >
        </span>
      </div>
      <b-row class="profile-controls d-flex justify-content-center mt-3">
        <b-col v-if="!isMyProfile" xl="3" class="d-flex justify-content-center">
          <b-button v-if="!hasSubscribe" @click="addSubscribe(id)">
            <span class="mr-2">Подписаться</span>
          </b-button>
          <b-button v-else variant="danger" @click="deleteSubscribe(id)">
            <span class="mr-2">Отписаться</span>
          </b-button>
        </b-col>
        <!-- <b-col 
            v-if="id"
            xl="3"
            class="d-flex justify-content-center"                
        >
            <b-button>
                Связаться со мной
            </b-button>
        </b-col> -->
        <b-col v-if="isMyProfile" xl="3" class="d-flex justify-content-center">
          <b-button @click="toProfileEdit"> Изменить профиль </b-button>
        </b-col>
      </b-row>
      <div class="d-flex align-items-center justify-content-between">
        <b-form-radio-group
          v-model="listType"
          class="radio-group"
          :options="listOptions"
          buttons
          size="xl"
        />
        <b-button v-if="!isMyProfile" size="xl" @click="toChat(item.id)">
          Написать
        </b-button>
      </div>
      <b-row v-if="listType === 'goals'" class="mt-3">
        <b-col
          v-for="item in goals.data"
          :key="item.id"
          xl="4"
          lg="6"
          class="mb-4"
        >
          <cg-card
            @click="openGoal(item.id)"
            class="cursor-pointer"
            :img-src="item.image"
            :finished="item.isFinished"
          >
            <div class="cg-card__header">
              <h6 class="cg-card__heading">
                {{ item.title }}
              </h6>
            </div>
            <div class="cg-card__additional">
              <time>
                {{ formatDate(item.created_at) }}
                <i class="fas fa-calendar" style="font-size: 9px"></i>
              </time>
            </div>
          </cg-card>
        </b-col>
      </b-row>
      <b-row v-else class="mt-3">
        <b-col
          v-for="id in item.subscriptions"
          :key="id"
          xl="4"
          lg="6"
          class="mb-4"
        >
          <profile-card @click="openUser(id)" class="cursor-pointer" :id="id" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" v-if="countGoals > limit">
          <b-pagination
            class="justify-content-center cg-pagination"
            v-model="currentPage"
            :total-rows="
              listType === 'goals' ? countGoals : item.subscriptions.length
            "
            :per-page="goals.per_page"
            last-number
          ></b-pagination>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
import CgCard from "./../components/Card";
import ProfileCard from "./../components/ProfileCard";

export default {
  name: "Profile",

  components: {
    CgCard,
    ProfileCard,
  },

  props: ["id"],

  data() {
    return {
      item: {},
      limit: 12,
      currentPage: 1,
      hasSubscribe: false,
      listType: "goals",
      listOptions: [
        { text: "Цели", value: "goals" },
        { text: "Подписки", value: "subscriptions" },
      ],
    };
  },

  mounted() {
    this.loadProfileItem();
    this.loadGoals();
  },

  watch: {
    id() {
      this.loadProfileItem();
      this.loadGoals();
    },

    currentPage: {
      handler() {
        this.loadGoals();
      },
    },
  },

  computed: mapState({
    profile: (state) => state.profileItem,
    goals: (state) => state.profileGoals,
    countGoals() {
      return Number(this.goals.last_page) * Number(this.goals.per_page);
    },
    locationInfo() {
      return `${this.item.country} ${this.item.town ? "," : ""} ${
        this.item.town
      }`;
    },
    description() {
      return this.item.description;
    },
    isMyProfile() {
      return this.id ? this.id === this.profile.id : true;
    },
  }),

  methods: {
    toProfileEdit() {
      this.$router.push({ name: "EditProfile" });
    },

    toChat(id) {
      this.$router.push({ name: "MessagesUser", params: { id: id } });
    },

    loadProfileItem() {
      this.$startLoading();
      this.$store
        .dispatch("profileItem")
        .then(() => {
          if (!this.id) {
            this.item = this.profile;
          } else {
            this.hasSubscribe = this.profile.subscriptions.includes(
              String(this.id)
            );
          }
        })
        .finally(() => {
          this.$stopLoading();
        });
      if (this.id) {
        this.$startLoading();
        this.$store
          .dispatch("profileItemById", this.id)
          .then((response) => {
            this.item = response;
          })
          .finally(() => {
            this.$stopLoading();
          });
      }
    },

    loadGoals() {
      this.$startLoading();
      let userId = this.id ? this.id : this.profile.id;
      this.$store
        .dispatch("goalsItemsByUserId", {
          id: userId,
          limit: this.limit,
          page: this.currentPage,
        })
        .finally(() => {
          this.$stopLoading();
        });
    },

    openGoal: function (id) {
      this.$router.push({ name: "ViewGoal", params: { id: id } });
    },

    openUser(id) {
      this.$router.push({ name: "ProfileId", params: { id: id } });
    },

    formatDate: function (date) {
      return moment(date).format("DD.MM.YY HH:mm");
    },

    addSubscribe(id) {
      this.$startLoading();
      this.$store.dispatch("addSubscribe", id).finally(() => {
        this.$stopLoading();
      });
      this.hasSubscribe = true;
    },

    deleteSubscribe(id) {
      this.$startLoading();
      this.$store.dispatch("deleteSubscribe", id).finally(() => {
        this.$stopLoading();
      });
      this.hasSubscribe = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.nav-background {
  height: 200px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .avatar {
    position: relative;
    top: 100px;
    width: 250px;
    height: 250px;
  }
}

.title-info {
  font-size: 20px;
}

.avatar-info {
  padding-top: 100px;
  .info-container {
    display: flex;
    justify-content: space-around;
    width: 600px;
  }
  span {
    display: flex;
    align-items: center;
  }
  .name {
    font-size: 26px;
    margin: 0 50px;
  }
  .block {
    min-width: 200px;
    display: flex;
    justify-content: center;
    padding: 4px 15px;
    color: #ffffff;
    background: var(--primary-color);
    border-radius: 17px;
  }
}

.title-info,
.name {
  color: var(--text-color);
}

.description {
  margin-top: 30px;
  font-size: 16px;
  min-width: 250px;
  max-width: 600px;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 10px 10px 0;
}

.profile-controls {
  div {
    margin-top: 20px;
  }

  button {
    min-width: 150px;
    width: 300px;
  }
}

.cg-pagination::v-deep .page-item {
  &.active .page-link {
    background-color: var(--pagination-active);
    color: var(--pagination-color);
  }
  & .page-link {
    border-color: var(--pagination-border);
    background-color: var(--pagination-background);
    color: var(--primary-inverse-color);
  }
}

.radio-group {
  margin-top: 15px;
  &::v-deep .btn {
    border-color: var(--pagination-border);
    background-color: var(--pagination-background);
    color: var(--primary-inverse-color);
    &.active {
      background-color: var(--pagination-active);
      color: var(--pagination-color);
    }
    input {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .avatar {
    width: 150px !important;
    height: 150px !important;
  }
  .nav-background {
    height: 150px;
  }

  .title-info {
    padding-top: 75px;
  }
}
</style>
