<template>
  <div class="login">
    <ValidationObserver v-slot="{ invalid }">
      <b-form class="auth-form" @submit.prevent.stop="doRegistration">
        <h2 class="heading">Регистрация</h2>
        <ValidationProvider
          name="Email"
          rules="required|email"
          v-slot="{ valid, errors }"
        >
          <b-form-group id="input-group-1" label="Email" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              :state="errors[0] ? false : valid ? true : null"
              placeholder="Введите email..."
              required
            ></b-form-input>
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          name="Name"
          rules="required|min:1|max:24"
          v-slot="{ valid, errors }"
        >
          <b-form-group id="input-group-2" label="Ваше имя" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.name"
              type="text"
              :state="errors[0] ? false : valid ? true : null"
              placeholder="Введите имя..."
              required
            ></b-form-input>
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          name="Password"
          rules="required|min:6|max:24"
          v-slot="{ valid, errors }"
        >
          <b-form-group id="input-group-3" label="Пароль" label-for="input-3">
            <b-form-input
              id="input-3"
              v-model="form.password"
              type="password"
              :state="errors[0] ? false : valid ? true : null"
              placeholder="Введите пароль..."
              required
            ></b-form-input>
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider
          name="Confirm"
          rules="required|min:6|max:24|password:@Password"
          v-slot="{ valid, errors }"
        >
          <b-form-group
            id="input-group-4"
            label="Подтвердите пароль"
            label-for="input-4"
          >
            <b-form-input
              id="input-4"
              v-model="form.passwordConfirm"
              type="password"
              :state="errors[0] ? false : valid ? true : null"
              placeholder="Подтвердите пароль..."
              required
            ></b-form-input>
            <b-form-invalid-feedback>
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>
        <b-button
          class="auth-btn"
          type="submit"
          variant="primary"
          :disabled="invalid"
          >Зарегистрироваться</b-button
        >
        <b-form-text class="auth-exist" id="exist-account">
          Уже есть аккаунт?
          <router-link :to="{ name: 'Login' }">Войти</router-link>
        </b-form-text>
      </b-form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
  name: "Registration.vue",
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
        passwordConfirm: "",
        name: "",
      },
    };
  },
  mounted() {
    if (this.$store.state.isAuth) {
      this.$router.push({ name: "App" });
    }
  },
  methods: {
    doRegistration: function () {
      // const that = this;
      const data = JSON.parse(JSON.stringify(this.form));
      data.password_confirmation = data.passwordConfirm;
      delete data.passwordConfirm;
      this.$store
        .dispatch("registerUser", data)
        .then(() => {
          this.$swal({
            icon: "info",
            title: "Остался последний шаг",
            text: "Для подтверждения регистрации перейдите по ссылке в письме, которое мы отправили вам на почту",
          }).then(() => {
            this.$router.push({ name: "Login" });
          });
        })
        .catch(() => {
          this.$swal({
            icon: "warning",
            title: "Что-то не так",
            text: "Произошла ошибка при регистрации",
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  padding: 0 15px;
}

.auth-form {
  max-width: 450px;
  padding: 25px;
  margin: 30px auto;
  background-color: var(--auth-background);
  font-family: "Roboto", sans-serif;
  border-radius: 0.25rem;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.auth-btn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
}

.auth-exist {
  text-align: center;
  margin-top: 10px;
}
</style>
