<template>
  <div class="cg-card" @click="$emit('click')">
    <div
      class="cg-card__img"
      :style="{ 'background-image': 'url(' + imgSrc + ')' }"
    />
    <div
      class="cg-card__content"
      :class="{ 'cg-card__content--green': finished }"
    >
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    imgSrc: {
      type: String,
      default: "https://via.placeholder.com/350x200",
    },
    finished: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.cg-card {
  border: 1px solid var(--foreground-border-color);
  background-color: var(--foreground-color);
  position: relative;
  height: 100%;

  &__content--green {
    background-color: var(--finished-goal-color);
  }

  &__img {
    width: 100%;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__additional {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 5px 3px 5px;

    & span {
      font-size: 11px;
    }

    & time {
      margin-left: auto;
      font-size: 11px;
    }
  }

  &__header {
    padding: 10px 10px 20px;

    & h6 {
      font-size: 18px;
    }
  }
}
</style>
