<template>
  <div class="cg-comment">
    <b-avatar :src="user.avatar" size="70px" />
    <div class="cg-comment__content ml-2">
      <time>{{ getDate }}</time>
      <h6>{{ user.name }} {{ user.surname }}</h6>
      <div class="cg-comment__text" v-html="comment.text"></div>
    </div>
    <span @click="doLike" class="cg-comment__icon">
      <i class="fas fa-heart" :class="{ 'cg-comment__icon--red': liked }"></i>
      {{ comment.likes.length }}
    </span>
    <span
      class="cg-comment__delete"
      @click="$emit('delete')"
      v-if="canEdit || selfComment"
    >
      <i class="fas fa-trash"></i>
    </span>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
export default {
  name: "Comment",
  props: {
    comment: Object,
    user: Object,
    canEdit: {
      type: Boolean,
      default: false,
    },
  },
  computed: mapState({
    profileItem: (state) => state.profileItem,
    getDate() {
      moment.locale("ru");
      return moment(this.comment.created_at).format("LLL");
    },
    liked() {
      return (
        this.comment.likes &&
        this.comment.likes.find((human) => human.id === this.profileItem.id)
      );
    },
    selfComment() {
      return this.user.id === this.profileItem.id;
    },
  }),
  methods: {
    doLike: function () {
      if (!this.liked) this.$emit("like");
      else this.$emit("dislike");
    },
  },
};
</script>

<style lang="scss" scoped>
.cg-comment {
  display: flex;
  position: relative;
  background-color: var(--primary-light-color);
  padding: 10px;
  border-radius: 5px;

  &__content {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    & time {
      font-size: 12px;
      margin: 0;
    }

    & h6 {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 14px;
    }
  }

  &__delete {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 8px;
    color: $gray-600;
  }

  &__icon {
    position: absolute;
    right: 8px;
    bottom: 5px;

    cursor: pointer;
    font-size: 20px;
    color: $gray-600;
    &--red {
      color: $red;
    }
  }
}
</style>
