<template>
  <div class="cg-post">
    <header class="cg-post__header">
      <time> {{ getDate }} </time>
      <p>{{ getDateFromStart }} день</p>
    </header>
    <main class="cg-post__main">
      <div class="cg-post__text" v-html="post.text"></div>
      <div class="cg-post__like">
        <span @click="doLike" class="cg-post__icon">
          <i class="fas fa-heart" :class="{ 'cg-post__icon--red': liked }"></i>
          {{ post.likes.length }}
        </span>
      </div>
      <span class="cg-post__delete" @click="$emit('delete')" v-if="canEdit">
        <i class="fas fa-trash"></i>
      </span>
    </main>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
export default {
  name: "Post",
  props: {
    post: Object,
    goalCreatedDate: String,
    canLike: {
      type: Boolean,
      default: true,
    },
    canEdit: {
      type: Boolean,
      default: false,
    },
  },
  computed: mapState({
    user: (state) => state.profileItem,
    getDate() {
      moment.locale("ru");
      return moment(this.post.created_at).format("LLL");
    },
    getDateFromStart() {
      const start = moment(this.goalCreatedDate);
      const end = moment(this.post.created_at);
      return start.diff(end, "days") + 1;
    },
    liked() {
      return (
        this.post.likes &&
        this.post.likes.find((user) => user.id === this.user.id)
      );
    },
  }),
  methods: {
    doLike: function () {
      if (!this.liked) this.$emit("like");
      else this.$emit("dislike");
    },
  },
};
</script>

<style lang="scss" scoped>
.cg-post {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;

  &__main {
    position: relative;
  }

  &__delete {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 8px;
    color: $gray-600;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--input-bg-secondary-color);
    border-bottom: 1px solid var(--input-border-color);
    & time {
      padding: 7px;
      font-size: 16px;
    }

    & p {
      background-color: var(--primary-inverse-color);
      color: #fff;
      font-weight: 600;
      border-top-right-radius: 5px;
      padding: 7px;
      font-size: 18px;
    }

    & * {
      margin: 0;
    }
  }

  &__text {
    padding: 20px;
  }

  &__like {
    text-align: right;
  }

  &__icon {
    cursor: pointer;
    font-size: 20px;
    color: $gray-600;
    &--red {
      color: $red;
    }
    margin-right: 8px;
    margin-bottom: 5px;
  }
}
</style>
