<template>
  <div class="card" @click="$emit('click')">
    <div class="card-header d-flex flex-column align-items-center">
      <b-avatar class="avatar" :src="item.avatar" />
      <span class="user-name mt-3">{{ item.name }}</span>
    </div>
    <div v-if="description" class="card-body text-center">
      <span v-html="description" />
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfileCard",

  props: ["id"],

  data() {
    return {
      item: {},
    };
  },

  computed: {
    description() {
      return this.item.description ? this.item.description.trim() : "";
    },
  },

  mounted() {
    this.loadProfileItem();
  },

  methods: {
    loadProfileItem() {
      this.$startLoading();
      this.$store
        .dispatch("profileItemById", this.id)
        .then((response) => {
          this.item = response;
        })
        .finally(() => {
          this.$stopLoading();
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  background: var(--main-color);
  cursor: pointer;
}
.card-header {
  background: var(--primary-light-color);
  .avatar {
    width: 150px;
    height: 150px;
  }

  .user-name {
    color: var(--text-color);
  }
}

.card-body {
  background: var(--primary-light-color);
  color: var(--text-color);
}
</style>
