<template>
  <aside class="sidebar" id="sidebar">
    <div class="side-logo" :class="{ 'side-logo--little': sidebarMode }">
      <img src="../assets/logo_2.svg" alt="CodingGoals" />
    </div>
    <b-link @click="changeActive" class="side-link" :to="{ name: 'App' }">
      <div class="side-icon-wrapper">
        <i class="fas fa-home side-icon"></i>
      </div>
      <span> Главная </span>
    </b-link>
    <b-link @click="changeActive" class="side-link" :to="{ name: 'Profile' }">
      <div class="side-icon-wrapper">
        <i class="fas fa-user side-icon"></i>
      </div>
      <span> Личный кабинет </span>
    </b-link>
    <b-link @click="changeActive" class="side-link" :to="{ name: 'Messages' }">
      <div class="side-icon-wrapper">
        <i class="fas fa-comment side-icon"></i>
      </div>
      <span> Сообщения </span>
    </b-link>
    <b-link @click="changeActive" class="side-link" :to="{ name: 'MyGoals' }">
      <div class="side-icon-wrapper">
        <i class="fas fa-bullseye side-icon"></i>
      </div>
      <span> Мои цели </span>
    </b-link>
    <b-link
      @click="changeActive"
      class="side-link"
      :to="{ name: 'FavouriteGoals' }"
    >
      <div class="side-icon-wrapper">
        <i class="fas fa-heart side-icon"></i>
      </div>
      <span> Избранное </span>
    </b-link>
    <b-link
      @click="changeActive"
      class="side-link"
      :to="{ name: 'CreateGoal' }"
    >
      <div class="side-icon-wrapper">
        <i class="fas fa-plus-circle"></i>
      </div>
      Создать цель
    </b-link>
    <div class="side-link last-button">
      <theme-changer />
    </div>
    <a class="side-link side-arrow" @click="toggleSidebar">
      <div class="side-icon-wrapper side-icon-arrow">
        <i class="fas fa-chevron-left side-icon"></i>
      </div>
      <span> Скрыть панель </span>
    </a>
    <b-link class="side-link" @click="doLogout">
      <div class="side-icon-wrapper">
        <i class="fas fa-sign-out-alt side-icon"></i>
      </div>
      <span> Выйти </span>
    </b-link>
  </aside>
</template>

<script>
import ThemeChanger from "./ThemeChanger";
import { mapState } from "vuex";
export default {
  name: "Header",
  components: {
    ThemeChanger,
  },
  computed: mapState({
    sidebarMode: (state) => state.sidebarMode,
    isMobile: (state) => state.isMobile,
    hideContent: (state) => state.hideContent,
  }),
  watch: {
    isMobile: {
      handler(newVal) {
        this.changeMode(newVal);
      },
    },
    hideContent: {
      handler(newVal) {
        if (!newVal) this.changeMode(this.isMobile);
      },
    },
  },
  methods: {
    doLogout: function () {
      this.$swal({
        title: "Выход из аккаунта",
        text: "Вы уверены, что хотите выйти из аккаунта?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        confirmButtonText: "Выйти",
        cancelButtonText: "Отмена",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$store.dispatch("logoutUser").finally(() => {
            this.$store.commit("setUser", null);
            this.$store.commit("setAuth", false);
            this.$setCookie("jwt", null, 0);
            this.$router.push({ name: "Login" });
          });
        }
      });
    },
    toggleSidebar: function () {
      const sidebar = document.getElementById("sidebar");
      const main = document.getElementById("main");

      if (this.isMobile) {
        sidebar.classList.toggle("sidebar-hide");
        if (sidebar.classList.contains("sidebar-mobile")) {
          sidebar.classList.remove("sidebar-mobile");
        } else {
          setTimeout(() => {
            sidebar.classList.add("sidebar-mobile");
          }, 500);
        }
        this.$store.commit("setSidebarMode");
      } else {
        main.classList.toggle("full-main");
        sidebar.classList.toggle("sidebar-little");
        this.$store.commit("setSidebarMode");
      }
    },
    changeActive: function (e) {
      let elem = e.target;
      while (elem && elem.tagName !== "A") {
        elem = elem.parentNode;
      }

      const collection = document.querySelectorAll(".side-link--active");
      collection.forEach((element) => {
        element.classList.remove("side-link--active");
      });

      elem.classList.add("side-link--active");
    },
    changeMode: function (isMobile) {
      const sidebar = document.getElementById("sidebar");
      const main = document.getElementById("main");
      main.classList.remove("full-main");
      sidebar.classList.remove("sidebar-little");
      this.$store.commit("setSidebarMode", isMobile);
      if (isMobile) {
        main.classList.add("mobile-main");
        sidebar.classList.add("sidebar-hide");
        setTimeout(() => {
          sidebar.classList.add("sidebar-mobile");
        }, 500);
      } else {
        main.classList.remove("mobile-main");
        sidebar.classList.remove("sidebar-hide");
        sidebar.classList.remove("sidebar-mobile");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar {
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 220px;
  background: var(--primary-color);

  transition: all 0.5s;

  &.sidebar-little {
    width: 60px;

    & .side-icon-arrow svg {
      transform: rotateZ(180deg);
    }
  }

  &.sidebar-hide {
    width: 50px;
    transform: translateX(-60px);

    & .side-arrow {
      transition: all 0.5s;
    }

    & .side-icon-arrow svg {
      transform: rotateZ(180deg);
    }
  }

  &.sidebar-mobile {
    & .side-arrow {
      transform: translateX(44px);
      border-radius: 0 6px 6px 0;

      & .side-icon-arrow svg {
        position: relative;
        left: 5px;
      }
    }
  }
}

.last-button {
  margin-top: auto;
}

.side-link {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  background: var(--primary-color);
  border-color: var(--primary-color);
  height: 55px;
  white-space: nowrap;
  padding-left: 20px;
  cursor: pointer;

  &--active,
  &:hover {
    color: white;
    text-decoration: none;
    border-color: var(--primary-hover-color);
    background: var(--primary-hover-color);
  }
}

.side-icon {
  display: inline-block;
}

.side-icon-arrow svg {
  transform: rotateZ(0deg);
  transition: all 0.5s;
}

.side-icon-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20px;
  height: 24px;
  margin-right: 25px;
  transition: all 1s;
}

.side-logo {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  background-color: var(--primary-logo-bg-color);
  & img {
    width: 65px;
    height: auto;
    transition: all 0.5s;
  }

  &--little {
    & img {
      width: 45px;
      height: auto;
    }
  }
}
</style>
