<template>
  <div
    class="theme-changer"
    :style="{ 'flex-direction': !changeDirection ? 'row' : 'row-reverse' }"
    @click="isDark = !isDark"
  >
    <i class="fas fa-sun theme-changer__icon"></i>
    <b-form-checkbox
      class="theme-changer__input"
      :checked="isDark"
      name="check-button"
      size="lg"
      switch
      disabled
    >
    </b-form-checkbox>
    <i class="fas fa-moon theme-changer__icon"></i>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "ThemeChanger",
  computed: mapState({
    sidebarMode: (state) => state.sidebarMode,
    theme: (state) => state.theme,
  }),
  data() {
    return {
      isDark: false,
      changeDirection: false,
    };
  },
  watch: {
    sidebarMode: function (newVal) {
      if (!newVal) this.changeDirection = false;
      else if (this.isDark) this.changeDirection = true;
    },
    isDark: function (newVal) {
      if (newVal) {
        localStorage.setItem("theme", "dark");
        this.$store.commit("setTheme", "dark");
      } else {
        localStorage.setItem("theme", "light");
        this.$store.commit("setTheme", "light");
      }

      if (this.sidebarMode && newVal) this.changeDirection = true;
      else this.changeDirection = false;
    },
  },
  mounted() {
    this.isDark = this.theme === "dark";
  },
};
</script>

<style lang="scss" scoped>
.theme-changer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    margin-left: 30px;
    margin-right: 25px;
    position: relative;
    top: -4px;
  }

  &__icon {
    font-size: 20px;
    color: #fff;
  }
}
</style>
