<template>
  <div id="app" :class="theme">
    <b-overlay :variant="theme" class="center-overlay" :show="hideContent">
      <template v-if="!isAuth">
        <!--        <div class="navbar" id="nav">-->
        <!--          <b-link class="nav-link" :to="{ name: 'Home' }"> Главная </b-link>-->
        <!--          <b-button-->
        <!--            v-if="$route.name !== 'Login'"-->
        <!--            class="nav-link"-->
        <!--            variant="outline-primary"-->
        <!--            @click="$router.push({ name: 'Login' })"-->
        <!--          >-->
        <!--            Вход-->
        <!--          </b-button>-->
        <!--        </div>-->
      </template>
      <template v-else>
        <cg-header />
      </template>
      <div v-if="!hideContent" id="main" :class="{ main: isAuth }">
        <b-container>
          <b-row>
            <b-col cols="12">
              <router-view />
            </b-col>
          </b-row>
        </b-container>
        <b-overlay fixed no-wrap :variant="theme" :show="loading"> </b-overlay>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import CgHeader from "./components/Sidebar";
import { mapState } from "vuex";

export default {
  computed: mapState({
    hideContent: (state) => state.hideContent,
    loading: (state) => state.loading,
    isAuth: (state) => state.isAuth,
    theme: (state) => state.theme,
  }),
  components: {
    CgHeader,
  },
  created() {
    // Проверка, мобилка ли и прослушивание ресайза браузера
    this.$store.commit("setIsMobile", window.innerWidth < 768);
    window.addEventListener("resize", this.updateWidth);

    // Какая тема была выбрана пользователем ранее?
    this.setTheme();

    axios.defaults.baseURL = "https://apicodinggoals.herokuapp.com";

    axios.interceptors.request.use(
      (config) => {
        const token = Vue.prototype.$getCookie("jwt");
        if (config.url[config.url.length - 1] === "/") {
          config.url = config.url.substr(0, config.url.length - 1);
        }
        if (token != null) {
          config.headers.Authorization = `Bearer ${token}`;
        }
        return config;
      },
      (error) => {
        if (
          error.response !== undefined &&
          error.response !== null &&
          error.response.status !== undefined
        ) {
          if (401 === error.response.status || 419 === error.response.status) {
            this.$store.commit("setUser", null);
            this.$store.commit("setAuth", false);
            this.$setCookie("jwt", null, 0);
            this.$router.push({ name: "Login" });
          }
        }
        return error;
      }
    );

    axios.interceptors.response.use(
      (response) => {
        return response;
      },
      (error) => {
        if (
          error.response !== undefined &&
          error.response !== null &&
          error.response.status !== undefined
        ) {
          if (401 === error.response.status || 419 === error.response.status) {
            this.$store.commit("setUser", null);
            this.$store.commit("setAuth", false);
            this.$setCookie("jwt", null, 0);
            this.$router.push({ name: "Login" });
          }
        }
        return error;
      }
    );

    const token = this.$getCookie("jwt");
    if (token != null) {
      this.$store.commit("setAuth", true);
      this.$store.commit("setHideContent", true);
      this.$store.dispatch("profileItem").finally(() => {
        this.$store.dispatch("loadFavouritesGoals");
        this.$store.commit("setHideContent", false);
      });
    }
  },
  methods: {
    updateWidth: function () {
      if (this.$store.state.isMobile !== window.innerWidth < 768)
        this.$store.commit("setIsMobile", window.innerWidth < 768);
    },
    setTheme: function () {
      if (!localStorage.getItem("theme"))
        this.$store.commit("setTheme", "light");
      else this.$store.commit("setTheme", localStorage.getItem("theme"));
    },
  },
};
</script>

<style lang="scss">
@import "assets/scss/vendors/bootstrap-vue/index";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "~sweetalert2/src/variables";
@import "~sweetalert2/src/sweetalert2";
@import "assets/scss/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid lightgray;
}

.main {
  background-color: var(--main-color);
  min-height: 100vh;
  z-index: 228;
  position: relative;
  padding: 15px 15px 15px 75px;
  @media (min-width: 768px) {
    padding: 15px 15px 15px 235px;
  }
  transition: all 0.5s;

  &.full-main {
    padding: 15px 15px 15px 75px !important;
  }

  &.mobile-main {
    padding: 15px !important;
  }

  & .container {
    min-height: 100%;
  }
}

#app {
  min-height: 100vh;
  position: relative;
  color: var(--text-color);
  background-color: var(--main-color);

  & input,
  & .custom-file-label,
  & .custom-select {
    color: var(--text-color);
    background-color: var(--input-bg-color);
    border-color: var(--input-border-color);
  }

  & .custom-file-label::after {
    color: #fff;
    background-color: var(--primary-inverse-color);
    border-color: var(--primary-inverse-color);
  }
}
</style>
